#detailsTitle {
    font-weight: bold;
    margin-top: 5vmin;
}

.detailHeader {
    font-weight: bold;
}

#detailCard {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 5vmin;
}