body {
    background-color: black;
    color: white;
}

#harley-logo {
    height: 20%;
    width: 20%;
}

#index-header-container {
    display: flex;
    align-items: center;
    margin-left: -15vmin;
}