body {
    background-color: black;
    color: white;
}

#harley-logo {
    height: 20%;
    width: 20%;
}

#index-header-container {
    display: flex;
    align-items: center;
    margin-left: -15vmin;
}

.landing-page-container {
    text-align: center;

    .heading {
        font-size: 2rem;
        color: white;
    }

    .cta-button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        color: #fff;
        background-color: #000;
        border-radius: 4px;
        text-decoration: none;
        transition: background-color 0.3s;

        &:hover {
            background-color: #777;
        }
    }

    .intro-section,
    .wishlist-section {
        margin: 20px 0;
        padding: 20px;
        background-color: orange;
        border-radius: 4px;

        h2 {
            margin-bottom: 20px;
            color: #000;
        }

        p {
            color: #000;
        }
    }

    .landing-page-footer {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #999;
    }
}

.logo-container {
    margin-top: 5vmin;
}