.wishlist-card {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

#wishlist-title {
    font-size: 2em;
    margin-top: 5vmin;
    padding-bottom: 2vmin;
    margin-bottom: 7.5vmin;
    overflow: visible;
}

#wishlist-description {
    margin-bottom: -5vmin;
}

#wishlist-motorcycles a {
    color: white;
    text-decoration: underline;
}

#trashcan {
    margin-left: 2vmin;
    cursor: pointer;
}

#created-by {
    margin-top: 2vmin;
}

.card-action {
    margin-top: 5vmin;
}