.navbar-fixed {
    margin-top: -2vmin;
    margin-left: -1.75vmin;
}

#welcomeMessage {
    padding-left: 5vmin;
}

#userName {
    font-weight: bold;
}

#logoutLink {
    padding-right: 5vmin;
}

.navLink {
    padding-left: 5vmin;
    padding-right: 5vmin;
}

.sidenav {
    background-color: orange;
    padding-top: 5vmin;
}